.budgets-list,
.budget-title,
.budget-total,
.budget-category,
.category-card,
.category-type,
.category-name,
.category-price,
.category-contact {
    @include flex-column;
    text-align: center;
    margin: auto;
    padding: .5em;
}

.budgets-list,
.budget-category {
    width: 100%;
}

.categories-grid p {
    text-align: center;
}