/* COLORS */
$primary: #ACFFBB;
$grey: #585858;
$greyLight: #929292;
$dark: #1E1E1E;
$light: #FFF;
$alert: #aa0000;
$yellow: #856404;
$yellowLight: #ffbf00;
$yellowPastel: #fff3cd;
$green: #155724;
$greenLight: #0ca730;
$greenPastel: #d4edda;
$overlay: rgba(0, 0, 0, 0.5);

/* POLICES */
$h1: 1.5rem;
$h2: 1.25rem;
$h3: 1rem;

/* EFFECTS */
$text-shadow: 0 0 1px $dark;